################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CodingTheory/v15/ipch/AutoPCH/a488ff26b95ca88d/MAIN.ipch
