################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CodingTheory/v15/ipch/AutoPCH/a488ff26b95ca88d/MAIN.ipch
/.vs/CodingTheory/v15/ipch/AutoPCH/b9976c6997b01c4e/MAIN.ipch
/.vs/CodingTheory/v15
/Debug
/x64/Debug
/.vs
/library
/x64/Release
